/* Adicionar aqui toda a estilização criada para sua aplicação. */

*{
    padding: 0;
    margin: 0;
}


.header{
    background-color: black;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;

}

.container{
    justify-content: flex;
    display: flex;
    align-items: center;
    text-align: center;
    
}

.navbar{
    display: flex;
    padding: 20px 850px;
    justify-content: space-between;
}

a{
    padding: 20px;
    color: coral;
}

.titulo{
    color: aqua;
    padding: 10px 50px;
    /* font-family: ; */
}

.banner{
    background-position: center; 
    background-repeat: no-repeat;
}

.footer{
    background-color: aqua;
}

h4{
    text-align: center;
    align-items: center;
    color: white;
    display: flex;
    justify-content: center;
}
